.con-form-width-3{
	width: 33%;
}
.con-form-width-4{
	width: 40%;
}
.con-form-width-5{
	width: 50%;
}
.con-form-width-6{
	width: 60%;
}
.con-form-width-7{
	width: 70%;
}
.con-form-width-8{
	width: 80%;
}
