<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjrz.admin.dao.ServicerMapper" >
  <resultMap id="BaseResultMap" type="com.hjrz.admin.entity.Servicer" >
    <id column="serverCode" property="serverCode" jdbcType="INTEGER" />
    <result column="serverName" property="serverName" jdbcType="VARCHAR" />
    <result column="serverType" property="serverType" jdbcType="INTEGER" />
    <result column="serverState" property="serverState" jdbcType="VARCHAR" typeHandler="org.apache.ibatis.type.EnumTypeHandler"/>
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    serverCode, serverName, serverType, serverState, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from servicer
    where serverCode = #{serverCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from servicer
    where serverCode = #{serverCode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hjrz.admin.entity.Servicer" >
    insert into servicer (serverName, serverType, 
      serverState, create_time)
    values (#{serverName,jdbcType=VARCHAR}, #{serverType,jdbcType=INTEGER}, 
      #{serverState,jdbcType=VARCHAR}, NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.hjrz.admin.entity.Servicer" >
    insert into servicer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="serverCode != null" >
        serverCode,
      </if>
      <if test="serverName != null" >
        serverName,
      </if>
      <if test="serverType != null" >
        serverType,
      </if>
      <if test="serverState != null" >
        serverState,
      </if>
        create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="serverCode != null" >
        #{serverCode,jdbcType=INTEGER},
      </if>
      <if test="serverName != null" >
        #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="serverType != null" >
        #{serverType,jdbcType=INTEGER},
      </if>
      <if test="serverState != null" >
        #{serverState,jdbcType=VARCHAR},
      </if>
      NOW()
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hjrz.admin.entity.ServicerExample" resultType="java.lang.Integer" >
    select count(*) from servicer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.hjrz.admin.entity.Servicer" >
    update servicer
    <set >
      <if test="serverName != null" >
        serverName = #{serverName,jdbcType=VARCHAR},
      </if>
      <if test="serverType != null" >
        serverType = #{serverType,jdbcType=INTEGER},
      </if>
      <if test="serverState != null" >
        serverState = #{serverState,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where serverCode = #{serverCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hjrz.admin.entity.Servicer" >
    update servicer
    set serverName = #{serverName,jdbcType=VARCHAR},
      serverType = #{serverType,jdbcType=INTEGER},
      serverState = #{serverState,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP}
    where serverCode = #{serverCode,jdbcType=INTEGER}
  </update>
  
  <select id="selectByCondition" resultMap="BaseResultMap" 
  		parameterType="com.hjrz.admin.entity.Servicer">
  		select 
  		<include refid="Base_Column_List" />
  		from servicer
  		<where> 
	 	<if test="serverName!=null">
			and serverName like CONCAT('%',#{serverName,jdbcType=VARCHAR},'%')
		</if> 
		<if test="serverType!=null">
  			and serverType = #{serverType,jdbcType=INTEGER}
  		</if>
  		<if test="serverCode!=null">
  			and serverCode = #{serverCode,jdbcType=INTEGER}
  		</if>
  	</where>
  </select>
</mapper>