<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hjrz.admin.dao.WorkstationsMapper" >
  <resultMap id="BaseResultMap" type="com.hjrz.admin.entity.Workstations" >
    <id column="wksCode" property="wksCode" jdbcType="INTEGER" />
    <result column="wksname" property="wksname" jdbcType="VARCHAR" />
    <result column="wksType" property="wksType" jdbcType="VARCHAR" />
    <result column="wksState" property="wksState" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    wksCode, wksname, wksType, wksState, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from workstations
    where wksCode = #{wksCode,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from workstations
    where wksCode = #{wksCode,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hjrz.admin.entity.Workstations" >
    insert into workstations (wksCode, wksname, wksType, 
      wksState, create_time)
    values (#{wksCode,jdbcType=INTEGER}, #{wksname,jdbcType=VARCHAR}, #{wksType,jdbcType=VARCHAR}, 
      #{wksState,jdbcType=VARCHAR}, #{create_time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.hjrz.admin.entity.Workstations" >
    insert into workstations
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wksCode != null" >
        wksCode,
      </if>
      <if test="wksname != null" >
        wksname,
      </if>
      <if test="wksType != null" >
        wksType,
      </if>
      <if test="wksState != null" >
        wksState,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wksCode != null" >
        #{wksCode,jdbcType=INTEGER},
      </if>
      <if test="wksname != null" >
        #{wksname,jdbcType=VARCHAR},
      </if>
      <if test="wksType != null" >
        #{wksType,jdbcType=VARCHAR},
      </if>
      <if test="wksState != null" >
        #{wksState,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hjrz.admin.entity.WorkstationsExample" resultType="java.lang.Integer" >
    select count(*) from workstations
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByPrimaryKeySelective" parameterType="com.hjrz.admin.entity.Workstations" >
    update workstations
    <set >
      <if test="wksname != null" >
        wksname = #{wksname,jdbcType=VARCHAR},
      </if>
      <if test="wksType != null" >
        wksType = #{wksType,jdbcType=VARCHAR},
      </if>
      <if test="wksState != null" >
        wksState = #{wksState,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where wksCode = #{wksCode,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hjrz.admin.entity.Workstations" >
    update workstations
    set wksname = #{wksname,jdbcType=VARCHAR},
      wksType = #{wksType,jdbcType=VARCHAR},
      wksState = #{wksState,jdbcType=VARCHAR},
      create_time = #{create_time,jdbcType=TIMESTAMP}
    where wksCode = #{wksCode,jdbcType=INTEGER}
  </update>
</mapper>